@media print {
 nav,button{
display: none;
}
nav{
	display: none !important;
}
.container_b{
   display: none;
}
.btn{
   display: none !important;

}
.logo-recipt{
   display: block !important;
}
img.center {
    display: block !important;
    margin: 0 auto;
}

}